html {
  background: url(img/SpeakEasy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  color: white;
}



h1 {
   font-size: 100;
   text-align: center;
   width: 80%;
   color: white;
}



table {
    width: 80%;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
        }
