html {
  font-size: 20;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;

}



h1 {
    font-size: 100;
    text-align: center;
    color: white;
}

h4 {
    color: white;
}

h3 {
    font-size: 80;
    color: white;
}


table {
    width:100%"
    background: "rgb(0, 0, 0)"; /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
        }

.mainnav ul {
  list-style: none;
  margin: 0 20px 40px 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

@media all and (min-width: 53.125em) {
  .mainnav ul {
    border-bottom: 4px solid ##33C1FF; }
  }

.mainnav li {
          margin: 0 10px; }

.mainnav a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 0; }

.mainnav a:hover {
  border-bottom: 4px solid white;
  margin-bottom: -4px; }

.mainnav a.selected, .mainnav a.selected:hover {
  color: white;
  border-bottom: 4px solid #000000;
  margin-bottom: -4px; }
