html {
  font-size: 20;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: black;

}

h1 {
    font-size: 100;
    text-align: center;
    color: white;
    margin: 25px 0px;
}

h2 {
    margin: 15px 0px;
}

h4 {
    color: white;
}

h3 {
    font-size: 80;
    color: white;
}

a {
  color: white;
}

div.wide-content {
    margin:0% 10%;
    text-align: center;
    width:80%;
}

div.narrow_content {
    margin:0% 20%;
    width:60%;
}

table {
    width:100%"
    background: "rgb(0, 0, 0)"; /* fallback color */
    background: rgba(0, 0, 0, 0.5);
    padding: 0px;
        }

td {
    vertical-align: top;
}

.signup-button {
  font-size: 13px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-color: #e64e4e;
  background-color: #e64e4e;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.mainnav ul {
  list-style: none;
  margin: 0 20px 40px 20px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

@media all and (min-width: 53.125em) {
  .mainnav ul {
    border-bottom: 4px solid ##33C1FF; }
  }

.mainnav li {
          margin: 0 10px; }

.mainnav a {
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 0; }

.mainnav a:hover {
  border-bottom: 4px solid white;
  margin-bottom: -4px; }

.mainnav a.selected, .mainnav a.selected:hover {
  color: white;
  border-bottom: 4px solid #000000;
  margin-bottom: -4px; }

.leadership div {
    float: left;

}

.leadership.text {
        max-width:50%;
        min-width: 250px;
}

.leadership img {
    max-width:280px
}

.block-content {
    width: initial;
    padding: 15px 0px;
}