---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="center">
  <img class="mainlogo" src="img/Logo.png" alt="SpeakEasy">
  <h2 class="subtitle center">Increasing Speaker Diversity at Testing and Tech Conferences</h2>

  <div class="shadow-box">

    <div class="applicant-signups block-content">
      <a class="awesomebutton" href="https://calendly.com/maaret-pyhajarvi/speakeasy-mentees">Join as Mentee</a>
      <a class="awesomebutton" href="https://calendly.com/maaret-pyhajarvi/speakeasy-new-mentors">Join as Mentor</a>
      <a class="newsletterbutton" href="https://tinyletter.com/speaking-easy">Subscribe to Newsletter</a>
    </div>

    <div class="block-content">
      <div class="social-media-link">
        <span class="icon-envelope-o"></span>
        <a href="mailto:spkeazee@gmail.com" target="_blank"> Email us at spkeazee@gmail.com</a>
      </div>
      <div class="social-media-link">
        <span class="icon-twitter-square"></span>
        <a href="http://twitter.com/spkeazee" target="_blank"> We are on Twitter as @spkeazee</a>
      </div>
    </div>



  <div>
    <a href="https://opencollective.com/speak-easy/" target="_blank">
      <img src="https://opencollective.com/speak-easy/donate/button@2x.png?color=blue" width=300/>
    </a>
  </div>


</div>
