---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---
<head>
    <script src="https://kit.fontawesome.com/d13ab97070.js" crossorigin="anonymous"></script>
</head>

<div class="center">
  <img class="mainlogo" src="img/Logo_TechVoices.png" alt="TechVoices">
  <h2 class="subtitle center">Increasing Speaker Diversity at Testing and Tech Conferences</h2>

  <div class="shadow-box">

    <div class="applicant-signups block-content">
      <a class="awesomebutton" href="mailto:maaret+techvoices@iki.fi?subject=Becoming TechVoices Mentee">Join as Mentee</a>
      <a class="awesomebutton" href="mailto:maaret+techvoices@iki.fi?subject=Becoming TechVoices Mentor">Join as Mentor</a>
      <a class="newsletterbutton" href="https://tinyletter.com/speaking-easy">Subscribe to Newsletter</a>
    </div>

    <div class="block-content">
      <div class="social-media-link">
        <i class="fas fa-envelope-square"></i>
        <a href="mailto:maaret+techvoices@iki.fi" target="_blank"> Email us at maaret+techvoices@iki.fi</a>
      </div>
      <div class="social-media-link">
        <i class="fab fa-twitter-square"></i>
        <a href="http://twitter.com/tech_voices" target="_blank"> We are on Twitter as @tech_voices</a>
      </div>
<!--
      <div class="social-media-link">
        <i class="fab fa-mastodon"></i>
        <a rel="me" href="https://tivia.social/@techvoices" target="_blank" rel="noopener noreferrer me" title="We are on Mastodon">We're on Mastodon!</a>
      </div>
-->
    </div>


<!--
  <div>
    <a href="https://opencollective.com/speak-easy/" target="_blank">
      <img src="https://opencollective.com/speak-easy/donate/button@2x.png?color=blue" width=300/>
    </a>
  </div>
-->

</div>
